<div class="dashboard-container">
  <!-- Sidebar Navigation -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav 
      [opened]="isSidebarOpen" 
      class="sidebar"
      [mode]="isMobile ? 'over' : 'side'"
      [fixedInViewport]="isMobile"
      (closedStart)="isSidebarOpen = false">
      
      <app-left-navigation (navItemClicked)="isMobile ? isSidebarOpen = false : null"></app-left-navigation>
    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content class="main-content" [style.margin-left]="!isMobile && isSidebarOpen ? '250px' : '0'">
      <!-- Top Navigation Bar -->
      <app-top-navigation (toggleSidebar)="toggleSidebar()"></app-top-navigation>

      <!-- Dashboard Content -->
      <div class="dashboard-content">
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
